.home-div{
    background-image: url('https://photos.smugmug.com/photos/i-TSLNx7w/0/b0171c38/X5/i-TSLNx7w-X5.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 80vh;
}

.footer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5vh;
}

.copyright{
    text-align: center;
    font-size: 14px;
}